absl-py
catboost
certifi
cffi
charset-normalizer
contourpy
curl_cffi
cycler
fastparquet
fonttools
frozendict
graphviz
idna
joblib
kiwisolver
lightgbm
llvmlite
matplotlib
multitasking
narwhals
numba
numpy
optuna
nvidia-nccl-cu12
packaging
pandas
pandas-ta
peewee
pillow
platformdirs
plotly
protobuf
pyarrow 
pycparser
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
soupsieve
threadpoolctl
tqdm
typing_extensions
urllib3
websockets
xgboost
ydf
yfinance
