# Core ML & Data
pandas
numpy
scikit-learn
scipy
joblib

# Boosting Models
xgboost
lightgbm
catboost
ydf

# Optimization & Features
optuna
numba
pytz
yfinance

# Data Formats (Parquet)
pyarrow
fastparquet

# Visualization
matplotlib
